body {
    border-top: none;
    border-bottom: none;
    background-color: #00002E;
    color: white;
    margin: 0%;
    width: 100%;
    
}

#corpo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 100%;

}

.logo {    
    margin-left: 20px;
    margin-right: 10px;

}

#top-img {

    display: flex;
    align-items: center;
    justify-content: center;
}

.palestrantes {
    margin-left: 10%;
    width:80%;
}

#palestrantes {
    margin: 0% 0% 0% 10%;
}

#sec1 { 
    grid-template-columns: 1fr;
    color: white;
    margin-right: 1em;


}

#sec1 h1 {
    font-family:'Inter';
    font-style: bold;
    font-weight: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    text-align: justify;
    text-shadow: 10px 10px 10px  black;
}


#sec1 h2 {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 100px;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    text-align: justify;
    margin-bottom: 0%;
}

#sec1 p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    text-align: justify;
    margin-top: 0%;
}


#sec1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin-left: 10%;
    text-align: justify;    
    
}

.palestrantes img {
    max-width: 100%;
    height: auto;
  }

#orientações {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    background-color: #9f9fd055;
    border-radius: 25px;
    box-shadow:10px 20px  white;
    width: 60%;
  }

#orientações h1, #orientações h2, #orientações h3 {
    margin-left: 0%;
    padding: 1em;
  }

#fluxo {
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;

}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    padding: 2em;
    box-sizing: border-box;
    height: 90%;
}


#formulario h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#formulario form {
    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.278);
    padding: 5%;
    border-radius: 10px;

}

form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;

}

form label input:not([type="radio"]) {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 10px 10px #00002E;
    margin-bottom: 1em;
    font-weight: normal;
}

#LGPD {
    font-size: 12px;
}

form label input[type="radio"] {
    width: 30px;
    height: 30px;
}

form label input[type="radio"]:hover {
    cursor: pointer;
}

.campo-especifico-label {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.5em;
  }

.campo-especifico-input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 1em;
 }

 



button {
    margin: 0em 1em 5em 1em;
    width: 15em;
    height: 4em;
    background: #00002E;
    border-radius: 8px;
    border-width: 2px;
    color: #EAECE5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    font-size: larger;
    display: block;
    margin: 0 auto;
    
}

button:hover {
    color: #00002E;
    background: white;
    transform:translateY(-6px);
    transition-duration: 0.3s;
    box-shadow: 10px 10px #00002E;
    cursor: pointer;
}

#footer {
    clear: both;
    display: grid;
    grid-auto-flow: column;
    color: #00002E;
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    background-color:#9f9fd055;
    margin-top: 2em;
    text-align: left;
}


#footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;

}

#footer li {
    margin-right: 1em;
    text-decoration: none;

}

#footer a {
    color: white;
    text-decoration: none;
}

.form-item {
    margin-top: 2em;
}

#footer-img {

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 350px) {
    body {
      border-top: none;
      border-bottom: none;
      background-color: #00002E;
      color: white;
      margin: 0%;
      width: 100%;
    }
    
    #corpo {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0%;
      margin: 0%;
    }
  
    #logo-wlf {
      width: 200px;
    }
  
    #logo-ifood {
      margin-top: 50px;
      width: 100px;
      height: 60px;
    }
  
    #top-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
  
    .palestrantes {
      width: 260px;
      margin-left: 0px;
    }
  
    #sec1 { 
      grid-template-columns: none;
      display: flex;
      flex-direction: column;
      color: white;
      margin-right: 1em;

    }
  
    #sec1 h1 {
      font-size: 20px;
      width: 200px;
      margin-left: 10px;
      margin-top: 50px;
      text-align: center;
      margin-bottom: 50px;
    }
  
    #sec1 h2 {
      font-size: 15px;
      margin-left: 10px;
    }
  
    #sec1 p {
      font-size: 15px;
      margin-left: 10px;
      width: 260px;
    }
  
    #orientações {
      
      width: 80%;
    }

  
    #orientações h1, #orientações h2, #orientações h3 {
      
      font-size: 15px; 
      text-align: center; 
      margin-left: 10px;
      padding: 1em;
    }
    
    form label {

        font-size: 12px;
    }
    
    form label input:not([type="radio"]) {

        font-size: 8px;
        width: 95%;
        height: 40px;
        box-shadow: 2px 5px #00002E;
    }
    
    form label input[type="radio"] {
        width: 10px;
        height: 10px;
    }
    
    form label input[type="radio"]:hover {
        cursor: pointer;
    }
    
    .campo-especifico-label {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0.5em;
      }
    
    .campo-especifico-input {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border-color: transparent;
        margin-bottom: 1em;
     }
    
    button {
        width: 180px;
        height: 3em;
        font-size: 25px;
        margin-top: 10px;
        
    }
    
    button:hover {
        color: #00002E;
        background: white;
        transform:translateY(-6px);
        transition-duration: 0.3s;
        box-shadow: 10px 10px #00002E;
        cursor: pointer;
    }
    
    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        height: 100%;
    }
    
    
    #footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: none;
        text-align: center;
        list-style: none;
        text-decoration: none;
    
    }
    
    #footer li {
        margin-right: 1em;
        text-align: center;
        text-decoration: none;
    
    }
    
    #footer a {
        color: white;
        text-decoration: none;
    }
    
    .form-item {
        margin-top: 2em;
    }
    
    #footer-img {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }

    .img-final {
        margin-top: 10px;
    }

    #footer-apoiadores {
        width: 260px;
    }

    #footer-wlf {
        width: 250px;
    }

    #footer-ifood {
        width: 120px;
    }

}
    


    


@media only screen and (min-width: 351px) and (max-width: 450px) {

    body {
        border-top: none;
        border-bottom: none;
        background-color: #00002E;
        color: white;
        margin: 0%;
        width: 100%;
      }
      
      #corpo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0%;
        margin: 0%;
      }
    
      #logo-wlf {
        width: 200px;
      }
    
      #logo-ifood {
        margin-top: 50px;
        width: 100px;
        height: 60px;
      }
    
      #top-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
      }
    
      .palestrantes {
        width: 340px;
        margin-left: 0px;
      }
    
      #sec1 { 
        grid-template-columns: none;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 1em;
  
      }
    
      #sec1 h1 {
        font-size: 20px;
        width: 300px;
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
      }
    
      #sec1 h2 {
        font-size: 20px;
        margin-left: 10px;

      }
    
      #sec1 p {
        font-size: 20px;
        margin-left: 10px;
        width: 260px;
      }
    
      #orientações {
        
        width: 80%;
      }
  
    
      #orientações h1, #orientações h2, #orientações h3 {
        
        font-size: 15px; 
        text-align: center; 
        margin-left: 10px;
        padding: 1em;
      }
      
      form label {
  
          font-size: 12px;
      }
      
      form label input:not([type="radio"]) {
  
          font-size: 8px;
          width: 95%;
          height: 40px;
          box-shadow: 2px 5px #00002E;
      }
      
      form label input[type="radio"] {
          width: 10px;
          height: 10px;
      }
      
      form label input[type="radio"]:hover {
          cursor: pointer;
      }
      
      .campo-especifico-label {
          display: block;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0.5em;
        }
      
      .campo-especifico-input {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          width: 100%;
          height: 50px;
          border-radius: 10px;
          border-color: transparent;
          margin-bottom: 1em;
       }
      
      button {
          width: 180px;
          height: 3em;
          font-size: 25px;
          margin-top: 10px;
          
      }
      
      button:hover {
          color: #00002E;
          background: white;
          transform:translateY(-6px);
          transition-duration: 0.3s;
          box-shadow: 10px 10px #00002E;
          cursor: pointer;
      }
      
      #footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 20px;
          text-align: center;
          height: 100%;
      }
      
      
      #footer ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: none;
          text-align: center;
          list-style: none;
          text-decoration: none;
      
      }
      
      #footer li {
          margin-right: 1em;
          text-align: center;
          text-decoration: none;
      
      }
      
      #footer a {
          color: white;
          text-decoration: none;
      }
      
      .form-item {
          margin-top: 2em;
      }
      
      #footer-img {
      
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;   
      }
  
      .img-final {
          margin-top: 10px;
      }
  
      #footer-apoiadores {
          width: 260px;
      }
  
      #footer-wlf {
          width: 250px;
      }
  
      #footer-ifood {
          width: 120px;
      }
}